*, *::after, *::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


  
body {
background-image: url("../assets/retro-background.png");
background-color: black;
background-size: 100vw 100vh;
font-family: 'Press Start 2P', cursive;
color: white;

margin: 0;
}

body .menu {
width: 61vw;
min-height: 70vh;
margin: auto;
margin-top: 8%;
margin-left: 10%;
}

:root {
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * .9);
}

/* GAME BOARD DIV */

body .menu .board {
	width: fill;
	height: 70vh;

	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;

	grid-template-columns: repeat(3, auto);
}

body .menu .board .cell {
	background-color: white;
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	cursor: pointer;
}

body .menu .board .cell.x,
body .menu .board .cell.circle {
	cursor: not-allowed;
}

body .menu .board.x .cell:hover {

}

body .menu .board .cell:first-child,
body .menu .board .cell:nth-child(2),
body .menu .board .cell:nth-child(3) {
	border-top: none;
}

body .menu .board .cell:nth-child(3n + 1) {
	border-left: none;
}

body .menu .board .cell:nth-child(3n + 3) {
	border-right: none;
}

body .menu .board .cell:last-child,
body .menu .board .cell:nth-child(7),
body .menu .board .cell:nth-child(8) {
	border-bottom: none;
}

body .menu .board .cell.x::before,
body .menu .board .cell.x::after,
body .menu .board .cell.circle::before,
body .menu .board .cell.circle::after,
body .menu .board.x .cell:not(.x):not(.circle):hover::before,
body .menu .board.x .cell:not(.x):not(.circle):hover::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * .15);
	height: var(--mark-size);
	background-color: black;
}

body .menu .board.x .cell:not(.x):not(.circle):hover::before,
body .menu .board.x .cell:not(.x):not(.circle):hover::after,
body .menu .board.circle .cell:not(.x):not(.circle):hover::before,
body .menu .board.circle .cell:not(.x):not(.circle):hover::after {
	background-color: lightgray;
}

body .menu .board .cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

body .menu .board .cell.x::after,
body .menu .board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

body .menu .board .cell.circle::before,
body .menu .board .cell.circle::after,
body .menu .board.circle .cell:not(.x):not(.circle):hover::before,
body .menu .board.circle .cell:not(.x):not(.circle):hover::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

body .menu .board .cell.circle::before,
body .menu .board.circle .cell:not(.x):not(.circle):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
	
}

body .menu .board .cell.circle::after,
body .menu .board.circle .cell:not(.x):not(.circle):hover::after {
	width: calc(var(--mark-size) * .7);
	height: calc(var(--mark-size) * .7);
	background-color: white;
}

/* WINNING MESSAGE DIV */

body .menu .winning-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, .9);
	color: white;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-size: 55px;
}

body .menu .winning-message button {
	font-size: 40px;
	background-color: white;
	border: 1px solid black;
	margin-top: 30px;

	padding: 15px 20px;
	cursor: pointer;
}

body .menu .winning-message button:hover {
	background-color: black;
	border-color: white;
	color: white;
}

body .menu .winning-message.show {
	display: flex;
}

body .buttonContainer {
	width: 100%;
	height: auto;
	position: absolute;
	text-align: right;
	right: 5%;
	bottom: 15%;
  }
  
  body .pageButton {
	background-color: #074607;
	color: white;
	border: 4px #0e5807 inset;
	padding: 10px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
  }
  
  body .pageButton:hover {
	background-color: #3fb143;
  }