*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: game-over;
    src: url(../assets/ka1.ttf);
}

body {
    background-image: url("assets/retro-background.png");
    background-color: black;
    background-size: 100vw 100vh;

    font-family: 'Press Start 2P', cursive;
    color: white;

    .menu {
        // background-color: blue;
        // opacity: 0.6;

        width: 61vw;
        min-height: 70vh;
        margin-top: 8%;
        margin-left: 10%;

        .menu-select {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            // background-color: cornflowerblue;
            padding: 15px 15px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            
            .menu-title {
                // background-color: cornsilk;
                font-family: game-over;

                text-align: center;
                font-size: 40px;
                margin-bottom: 10px;
            }

            .games {
                // background-color: darkseagreen;
                display: flex;
                flex-direction: column;

                .menu-Button {
                    // background-color: gold;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 30px;
                    color: white;
                    
                    #pointer {
                        display: none;
                        margin: auto;
                        padding-right: 10px;
                    }
                }

                .menu-Button:hover #pointer{
                    display: inline-block;
                }

            }
        }
    } 
}