*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: game-over;
    src: url(../assets/ka1.ttf);
}

body {
    background-image: url("../assets/retro-background.png");
    background-color: black;
    background-size: 100vw 100vh;

    max-height: 100vh;

    font-family: 'Press Start 2P', cursive;
    color: white;

    .menu {
        background-color: black;
        text-align: center;
        // opacity: 0.6;
        width: 61vw;
        min-height: 70vh;
        margin-top: 8%;
        margin-left: 10%;
    }

    #pongCanvas {
        margin: 50px 70px; 
        
        
        width: fill;
        height: auto;

        border: 4px solid white;
    }

    #pressStart {
        display: block;
        position: absolute;

        top: 350px;
        left: 375px;

        width: 550px;
        height: auto;

        background-color: black;

        h1 {
            font-size: 25px;

            padding: 10px 15px;
        }
    }

    #GameResult {
        display: none;
        position: absolute;

        font-family: game-over;

        top: 300px;
        left: 500px;

        width: 300px;
        height: 150px;

        background-color: black;

        h1 {
            color: white;

            padding-top: 20px;
        }

        .START-BUTTON {

            
            margin-top: 30px;

            font-family: 'Press Start 2P', cursive;
            font-size: 30px;
            padding: 10px 15px;

            color: black;
            background-color: white;
            border: 1px solid black;
        }
        .START-BUTTON:hover {
            color: white;
            background-color: black;
            border: 1px solid white;
        }
    }

    .buttonContainer {
        width: 100%;
        height:auto;
        position: absolute;
        text-align: right;
    }
        
    .pageButton {
        background-color: rgb(7, 70, 7);
        color: rgb(255, 255, 255);
        border: 4px rgb(14, 88, 7) inset ;
        padding: 10px;
        text-decoration: none;
        font-family: 'Press Start 2P', cursive;
    }
    
    .pageButton:hover {
        background-color: #3fb143;
    }
}