* {
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: game-over;
  src: url(../assets/ka1.ttf);
}

body{
  overflow: auto;
  background-color:black;
  margin: auto;
}
.game { 

  position: absolute;
  background: url("../assets/retro-background.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  /* background-size: 100vw 700px; */
  background-size: contain;
  min-width: 1200px;
  height: 700px;
} 
.grid {
  margin: auto;
  position: relative;
  background-color: green;
  background-image: url("assets/scene.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  margin-left: 94px;
  margin-top: 94px;
  background-size: cover;
  opacity: 1;
  width: 704px;
  height: 531px;
  z-index: -1;

} 

.dino {
  position: absolute;
  width: 90px;
  height: 100px;
  background-image: url("assets/dino.png");
  filter: drop-shadow(-2px 2px 0 rgb(54, 54, 54));
  bottom: 20px;
  left: 40px;
}

/* TODO rotation obstacle? */
.obstacle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("assets/rock.png");
  bottom: 10px;
  background-size: contain;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);}
  to {
    transform: rotate(0deg)}
}
h2 {
  position: relative;
  text-align: center;
  top: 190px;
  font-family: game-over;
  font-size: 40px;
  color: white;
}
p {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size:20px;
  top: 60px;
  left: 20px;
}
.buttonContainer {
  width: 100%;
  height: auto;
  position: relative;
  text-align: left;
  left: 910px;
  top: -70px;
}

.pageButton {
  background-color: #074607;
  color: white;
  border: 4px #0e5807 inset;
  padding: 10px;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}
.pageButton:hover {
  background-color: #3fb143;
}
button {
  position: absolute;
  margin: -250px 340px;
  padding: 10px;
  border: 3px solid white;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color: white;
  font-size:25px;
  cursor: pointer;
  visibility: hidden;

}
button:hover {
  background-color:white;
  color: green;
  scale: 1.1;
}